
.footer {
	background-color: $footer-back;

	.links {
		padding-top: 15px;

		h4 {
			color: white;
		}
		ul {
			list-style: none;
			color: white;
			padding-left: 0;

			li a {
				color: darken(white, 30%);
			}
		}
	}

	.about-us {
		padding-top: 15px;

		h4 {
			color: white;
		}
		p {
			color: darken(white, 30%);
		}
	}

	.logo {
		width: 165px;

		margin-top: 40px;
		margin-left: 20px;
	}
}
