
.footer {
	background-color: $footer-back;

	.links {
		padding-top: 15px;

		h4 {
			color: $theme-color;
		}
		ul {
			list-style: none;
			color: white;
			padding-left: 0;

			li a {
				color: darken($footer-back, 45%);
			}
		}
	}

	.about-us {
		padding-top: 15px;

		h4 {
			color: $theme-color;
		}
		p {
			color: darken($footer-back, 45%);
		}
	}

	.logo {
		width: 165px;
		margin-top: 26px;
		margin-left: 20px;
	}
}
