
.float-right {
	float: right;
}

.float-left {
	float: left;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.full {
	width: 100%;
}

html,body {
	height: 100%;
	margin:0;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.footer-ghost {
	height: ($footer-height + 30);
}

.footer {
	height: $footer-height;
	position: absolute;
	bottom: 0;
	width: 100%;
}
