
// $back-color: #814FB0;
// $back-second: #4e5d6c;
// $footer-back: #372251;
// $footer-height: 165px;
// $header-back: #F0F0F0;

$back-color: #E4E4E4;
$back-second: #DBDBDB;
$footer-back: #DBDBDB;
$footer-height: 165px;
$header-back: #F0F0F0;

$theme-color: #EB8D00;
// $theme-color: #EB0000;
// $theme-color: #1023AF;
// $theme-color: #069E06;
