
@import "bootstrap/bootstrap";
@import "spider/spider";

.login {

	.input-group {
		margin-bottom: 5px;
	}
	.input-group-addon {
		min-width: 100px;
	}
}

.navbar-brand {
	img {
		width: 32px;
		margin-top: -8px;
	}
}

.nav.navbar-nav.navbar-right > li > a {
	font-size: 14px;
}

.navbar-static-top {
	border-bottom: 4px solid $back-color;
	background-color: $header-back;
}

.navbar-brand .logo {
	width: 147px;
	margin-top: -14px;
}

.ui-button {
	@extend .btn;
	@extend .btn-default;
}

.white {
	// color: white!important;
}

body {
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.footer {
	border-bottom: 20px solid $back-color;
}