
@import "bootstrap/bootstrap";
@import "spider/spider";

.login {

	.input-group {
		margin-bottom: 5px;
	}
	.input-group-addon {
		min-width: 100px;
	}
}

.navbar-brand {
	img {
		width: 32px;
		margin-top: -8px;
	}
}

.nav.navbar-nav.navbar-right > li > a {
	font-size: 14px;
}

.navbar-static-top {
	border-bottom: 1px solid $theme-color;
	background-color: $header-back;
	-webkit-box-shadow: 0px 0px 6px 0px $theme-color;
	-moz-box-shadow:    0px 0px 6px 0px $theme-color;
	box-shadow:         0px 0px 6px 0px $theme-color;
}

.navbar-brand .logo {
	width: 162px;
	margin-top: -14px;
}

.ui-button {
	@extend .btn;
	@extend .btn-default;
}

.white {
	// color: white!important;
	color: $theme-color;
}

.footer {
	border-bottom: 2px solid $theme-color;
}